h1{
    color: rgb(247, 247, 5);
    background-color:rgb(11, 173, 11)
    font-size: x-large;
    
}


h3{
    color: red;
    font-size: xx-large;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}
h2{
    font-size: xx-large;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

h4{
    color: purple;
    background-color: ;
    font-size: xx-large;
    padding: 20px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
}

h5{
    color:black;
    font-size: xx-large;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}
p{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 40px;
}
header{
    background-color: rgb(58, 230, 72);
    padding: 100px;
    border-radius: 10px;
}
body{
    background-color: rgb(218, 231, 218);
}
